<section id="home-about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center">No matter what your connection is to swimming, we want to educate you about how strength training empowers the swimmer body. Our online portal provides you with multiple resources for competitive swimmers across the globe to enhance performance.</p>
        <p class="text-center">--</p>
        <p class="lead text-center">We envision the sport of swimming taking land-based training to a completely new level. Stay away from injuries by taking care of your body to excel in competitive racing. </p>

      </div>
    </div>
  </div>
</section>