<section id="home-quotes">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="about-quotes-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @quotes.each_with_index do |q, index| %>
            <li data-target="#about-quotes-carousel" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @quotes.each_with_index do |q, index| %>
            <div class="item <% if index == 0 %>active<% end %>">
              <h2><%= q.name %></h2>
              <%= q.quote_text.html_safe %>
            </div>
          <% end %>



<!--           <div class="item active">
            <h2>Deniz Hekmati, Founder</h2>
            <blockquote>“In my eyes, smart training is imperative and intertwined with hard work. I have spent over 70% of my life contributing to the sport of swimming and I will continue as long as there is a need. I apply my own fighting story to a relevant graduate level education in order to find the most efficient formula for elevated performance on a consistent basis. As a former collegiate athlete who understands the aquatic sports, I have an obligation to pass on my knowledge and experience to help as many individuals out there as I possibly can.”</blockquote>
          </div>
          <div class="item">
            <h2>Jesper Akesson, Co-Owner</h2>
            <blockquote>“If you’re unsure what to do to with your weight and dryland training program, you've come to the right place. Swimmer Strength will sit down with you, listen to your objectives and goals. Next, we’ll create a smart action plan so that you will be able to reach your goals and gain a competitive edge.”</blockquote>
            
          </div>
           <div class="item">
            <h2>Alex Coci, Co-Owner</h2>
            <blockquote>“The only less positive point is failure in competition. If that happens, you get up, and you shake yourself off and keep fighting to get to the top. Swimmer Strength focuses on fun and creative methods to develop swimmer-appropriate strength with full completion of flexibility and mobility, which certainly was my aim from very young age.”</blockquote>
            
          </div>
          <div class="item">
            <h2>Björn Gunnarsson, Co-Owner</h2>
            <blockquote>“During my swimming career, I experienced a lack of individualized dryland programs that were adapted to swimming. Flexibility issues limited my strength in the water, so now I want to provide passionate swimmers with reliable knowledge to help them swim fast.”</blockquote>
            
          </div> -->
          
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#about-quotes-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#about-quotes-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>



    </div>

  </div>
</div>


</section>