<section id="swimmers-edge-programs" data-speed="24" data-type="background">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Swimmer's Edge Programs</h1>
        <h2 class="text-center">Individualized for each athlete's need</h2>
        <h3 class="text-center">We will work with you to create a guide to enhance your performance through an unforgettable learning experience</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-center">
        
        
        <blockquote class="text-left sep">
          <h3>Strength &amp; Dryland Training</h3>
          
          <ul>
            <li>Enhance muscular strength, power, and explosiveness for superior aquatic performance.</li> 
            <li>Improve core stability to enhance body position in the water.</li>
            <li>Be part of innovative exercises designed to yield maximum improvement while preventing injuries.</li>
          </ul>
        </blockquote>
        
      </div>
      <div class="col-md-6 text-center">
        
        <blockquote class="text-left sep">
          <h3>Mental Strength Training</h3>
          
          <ul>
            <li>Form your own performance mission and learn new techniques from the latest sport psychology research.</li>
            <li>Focus, vision, and desire keeps you motivated – we will help you optimize each aspect to swim faster.</li>
          </ul>
        </blockquote>
      </div>
      <div class="col-md-6 text-center">
        
        <blockquote class="text-left sep">
          <h3>Performance Analysis</h3>
          <ul>
            <li>See your performance improvements first-hand by learning to analyze your body's adaption to training and racing.</li>
            <li>Learn the nuances of gender-bases stroke specificity to gain a more objective perspective.</li>
          </ul>
        </div>
      

      <div class="col-md-6 text-center">
        
        <blockquote class="text-left sep">
          <h3>Dietary Guidance</h3>
          <ul>
            <li>Gain insight on how to mindfully structure your diet through a sufficient and balanced intake of necessary nutrients.</li> 
            <li>Learn to recognize and identify your physical attributes to better understand your metabolism and how it affects your training and everyday life.</li> 
          </ul>
        </blockquote>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <%= link_to "APPLY FOR A FREE STRATEGY SESSION", "/sep_inquiries/new", class: 'btn btn-lg btn-primary btn-block' %>
        </div>

      </div>

    </div>

  </div>

</section>