<section id="home-main" class="text-center" data-speed="2" data-type="background">
  <%#= image_tag 'logo-work-horizontal-centered-white.png', width: '40%', class: 'hidden-xs hidden-sm' %>
  <h1>SWIMMER STRENGTH</h1>
  <h2>Welcome</h2>
  <h3>To the integrative way of enhancing performance</h3>
</section>