<%#= render '/refinery/content_page' %>

<section id="home-main">
  <h1>Main</h1>
</section>
<section id="home-about">
  <h1>About</h1>
</section>
<section id="home-what-we-do">
  <h1>What We Do</h1>
</section>
<section id="home-our-athletes">
  <h1>Our Athletes</h1>
</section>
<section id="home-the-team">
  <h1>The Team</h1>
</section>
<section id="home-blog">
  <h1>Blog</h1>
</section>
<section id="home-videos">
  <h1>Videos</h1>
</section>
<section id="home-contact">
  <h1>Contact</h1>
</section>