
<h3>Subscribe to our monthly newsletter for free!</h3>
<%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true", :class => 'form-inline') do -%>
   <%= email_field(:email, :address, {id: "email", placeholder: "email address", :class => 'form-control input-lg'}) %> 
   <%= submit_tag("Sign me up!", :class => 'btn btn-primary btn-lg') %>
<% end %>