<!-- <h1 id='logo'>
  <%#= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>
<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %> -->



<nav class="navbar navbar-default affix-top" role="navigation" style="z-index:1000;">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="col-xs-10"><a class="navbar-brand" href="/"><%= image_tag 'logo-work-horizontal-centered.png', width: '270', class: 'hidden-md hidden-lg' %></a></div>
      <div class="col-xs-2 text-center">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 text-center">
      <% if @page.slug == 'home' %>
        <ul class="nav navbar-nav">
          <li><a href="#home-main">HOME</a></li>
          <li><a href="#home-about">ABOUT</a></li>
          <li><a href="#home-what-we-do">WHAT WE DO</a></li>
          <li><a href="#swimmers-edge-programs">SWIMMER'S EDGE PACKAGES</a></li>
          <li><a href="#home-the-team">THE TEAM</a></li>
          <li><a href="#home-blog">BLOG</a></li>
          <li><a href="#home-videos">VIDEOS</a></li>
          <li><a href="#home-contact">CONTACT</a></li>
        </ul>
      <% else %>
        <% presenter = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self) %>
        <% presenter.max_depth = 1 %>
        <%= presenter.to_html %>
      <% end %>

    </div>
  </div>
</nav>