$raleway:'Raleway', sans-serf;
$oswald:'Oswald', sans-serif;
$cinzel:'Cinzel', serif;

$ss-blue:#416888;
$ss-hi-vis:#97fe02;

body {font-family:$raleway;}
h1 {font-family:$oswald;font-weight:bold;font-size:56px;margin:0;}
h2 {font-family:$oswald;font-weight:bold;font-size:3em;margin:0;}
h3 {font-family:$oswald;font-weight:normal;margin:0;}

// BS overrides
$nav-link-padding:10px 10px;