$raleway:'Raleway', sans-serf;
$oswald:'Oswald', sans-serif;
// $cinzel:'Cinzel', serif;

$ss-blue:#416888; //RGB 65 104 136
$ss-hi-vis:#97fe02;
$ss-hi-vis-orange:#fe9705;

body {font-family:$raleway;}
h1 {font-family:$raleway;font-size:56px;margin:0;}
h2 {font-family:$raleway;font-size:3em;margin:0;}
h3 {font-family:$raleway;font-weight:normal;margin:0;}

// BS overrides
// $grid-gutter-width:1px;

$nav-link-padding:10px 10px;
$alert-padding:20px;
$alert-border-radius:0px;
$state-success-bg:$ss-hi-vis;
.alert {margin-bottom:0px;}

.carousel-control.left, .carousel-control.right {background:none;}
.carousel-inner {
  -webkit-transform-style: preserve-3d;
}

.tooltip {font-size:16px;padding:30px;}