@import 'base';
//Grid breakout
$grid-float-breakpoint:992px;

$navbar-height:85px;
$navbar-border-radius:0px;
$navbar-default-bg:lighten(rgba(65,104,136,.9), 30%);
$navbar-default-border:none;
$navbar-default-link-color:rgba(255,255,255,.9);
$btn-primary-bg:lighten($ss-blue, 37%);
$btn-primary-color:$ss-blue;

