@import 'bs-overrides';
// @import 'base';





.navbar {
  width:100%;
  
}

.navbar-brand {
  img {
    margin-top:-30px;
  }
}

section {
  // min-height:350px;
  //border-bottom:1px solid rgba(0,0,0,.1);
}

//HOME PAGE

#home-main {
  min-height:480px;
  padding-bottom:80px;
  background-image:url(home-main-IMG_5100.jpg);
  background-size:cover;
  background-position-y:50%;
  margin-top:0px;
  h1 {
    font-size:56px;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,.5);
    padding-top:2em;
    text-align:center;
    margin-bottom:20px;
  }
  h3 {
    padding:1.25em 2em 1em 2em;
    text-align:center;
    color:lighten($ss-blue, 37%);
    text-shadow:1px 1px 1px rgba(0,0,0,1);
    background-color:darken($ss-blue, 10%);
    font-size: 2.5em;
  }
  a {
    margin-top:40px;
  }
}

#email-sub {
 position: fixed;
 top:190px;
 right:-40px;
 width:175px;
 height:208px;
 z-index:10000;
 background-image:url(signupbug.png);
 /*border:1px solid rgba(0,0,0,.1);*/
}

#email-sub-xs {
  min-height:100px !important;
  padding:20px;
  background-color:#7da5bb;
  // background-image:url(signupbug.png);
  color:darken($ss-blue, 10%);
  img {float:right;}
  h1 {
    margin-top:20px;
  }
  a {color:#fff;}


}



#home-about {

  padding:80px 20px;
  background-image:url(poolart-02-01.png);
  background-size:cover;
  background-position-y:90%;
  background-color:lighten($ss-blue, 20%);
  h1, h2 {
    color:rgba(255,255,255,.7);
    text-transform: uppercase;
  }
  h2 {color:rgba(255,255,255,.3);}
  p {
    color:rgba(255,255,255,.9);
    font-size:20px;
  }
  #about-quotes-carousel {margin-top:60px;}
  blockquote {
    padding:20px 30px;
    min-height:35em;
    border-left:none;
    border-top:1px solid rgba(255,255,255,.7);
    color:#fff;
    font-style: italic;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {margin-left:-40px;}
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {margin-right:-40px;}
}

#home-what-we-do {
  padding:80px 20px;
  background-image:url(weight.jpg);
  background-size:cover;
  min-height:800px;
  background-position-x:-200px;
    h1 {
    padding-top:250px;
    padding-bottom:140px;
    text-align: center !important;
    color:rgba(255,255,255,.8);
    text-transform: uppercase;
    font-size:4em;
  }

  .col-md-6 {
    background-clip: padding-box;
    border: 2px solid transparent;
 
  }
  .do-boxes {
    background-color:rgba(0,0,0,.6);
    background-clip: padding-box;
    border: 2px solid transparent;
    padding:20px;
    min-height:200px;
    h3 {
       color:lighten($ss-blue, 45%);
    }
    p {
      position:absolute;
      top:50%;
      padding:0 0px 20px 0px;
      margin-top: 1em;
      color:rgba(255,255,255,.8);
      span, a {
        font-weight:bold;
        color:lighten($ss-blue, 45%);
      }
    }
  }
}

#home-our-athletes {
  padding:60px 20px;
  h2 {margin-bottom:80px;}
  img {margin:0 auto;}
}

#home-the-team {
  padding:80px 20px;
  text-align:center;
  .team {

    h3 {
      margin-top:.75em;
      text-align:center;

    }
    
    img {
      border-radius:50%;
      margin:20px auto;
    }
  }
  .btn {
    margin:30px 20px;
  }
}

#home-blog {
  h1 {color:darken($ss-blue, 10%);}
  padding:80px 20px;
  background-color:lighten($ss-blue, 45%);
  min-height:250px;
  #carousel-blog {
    min-height:20em;
    padding:0px 120px;
    button {text-align:center;display:block;}
  }
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top:90%;
  
  }
}

#home-videos {
  color:lighten($ss-blue, 30%);
  background-color:darken($ss-blue, 25%);
  padding:80px 20px;
  .home-video-sub {
    padding:40px 0px;
    div div {margin-bottom:40px;}
  }
}

#swimmers-edge-programs {
  background-image:url(sep-GOPR0852.jpg);
  background-position-x:50%;
  background-size:cover;
  h1 {
    text-transform:uppercase;
    padding-bottom:.5em;
    color:rgba(65,104,136,.9);
  }
  h2 {
    color:lighten($ss-blue, 30%);
  }
  small {
    color:lighten($ss-blue, 40%);
    text-transform:uppercase;
  }
  padding:100px 20px;
  blockquote {
    margin-top:20px;
    background-color:rgba(65,104,136,.7);
    color:rgba(255,255,255,.7);
    border:1px solid rgba(0,0,0,.2);
    min-height:auto;
    border-radius:10px;
  }
  .btn {
    margin-bottom:60px;
  }

}




#show-header {
  margin-top:-100px;
  padding-top:90px;
  height:650px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position-x:50%;

  h1 {
    display:block !important;
    margin:100px auto 40px auto !important;
    padding-top:20px;
    color:#fff;
    text-transform: uppercase;
    text-align:center;

    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    font-weight: 700;
    text-shadow:1px 1px 1px rgba(0,0,0,1);
  }

  h2 {
    // background-color:rgba(1,32,63,.8);
    color:#fff;
    text-transform: uppercase;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding:0px 20px;
    font-weight: 700;
    line-height: 1.20em;
    text-shadow:1px 1px 3px rgba(0,0,0,1);
  }
}

#show-body {
  padding:60px 20px;
}

#footer {
  padding:40px 20px 20px 20px;
  background-color:darken($ss-blue, 15%);
  color:rgba(255,255,255,.7);
  .footer_menu {
    .navbar-right{
      float:left !important;
    }
    li a {
      padding:15px 15px;
      text-transform: uppercase;
      font-size:1.10em;
      font-weight:400;
    }
  }
    #footer-social {
      text-align: center;
      ul {
        list-style-type:none;
        margin:0px;
        padding:0px;
      }
      li {
        list-style:none;
        margin-left:0px;
        display:inline-block;
        margin-right:5px;
      }  
    }
    #memorium {
      text-align:center;
      font-family: $cinzel;
      padding-top:65px;
      font-size:1.25em;
    }
    #copyright {
      padding-top:80px;
      color:rgba(255,255,255,.2);
    }
}

#blog_post {
  h1 {color:$ss-blue;}

  padding-top:80px;
  .details {
    min-height:65px;
    //border-top:1px solid lighten($ss-blue, 50%);
    border-bottom:none;
    padding:20px 0px;
  }
}
 #comments {
  h2 {margin-bottom:20px;color:lighten($ss-blue, 50%);}
   // border-top:1px solid lighten($ss-blue, 50%);
   margin-top:30px;
   padding-top:30px;
   padding-bottom:40px;
 }

#blog-side-bar {
margin-top:100px;
h2 {color:rgba(65,104,136, .5);}
}
#blog_posts {
  height:auto;

}

.blog_post {
  header {
    h2 {}
    .details {
      font-weight:bold;
      color:rgba(0,0,0,.6);
      margin-top:1em;
    }
  }
 }

 #blog_posts_sidebar {
   margin:0px;
   padding:0px;
   margin-bottom:40px;
   li {
    line-height:1.55em;
    font-size:1.00em;
   }
 }

 #post-show {
  padding:20px 20px 80px 20px;
 }


#home-contact {
  .contact-box {
    background-color:rgba(255,255,255,.5);
    padding:20px;
    border-radius:10px;
  }
  
  padding:80px 20px;
  background-image:url(untitled-49-Edit-2-2.jpg);
  background-size:cover;
  background-position-y:50%;
  p {
    font-size:18px;
  }
}

.notice {

}




