@import 'bs-overrides';
// @import 'base';





.navbar {
  width:100%;
  
}

.navbar-brand {
  img {
    margin-top:-30px;
  }
}

section {
  min-height:350px;
  border-bottom:1px solid rgba(0,0,0,.1);
}

#home-main {
  min-height:480px;
  padding-bottom:80px;
  background-image:url(home-main-IMG_5100.jpg);
  background-size:cover;
  background-position-y:50%;
  margin-top:0px;
  h1 {
    font-size:56px;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,.5);
    padding-top:2em;
    margin:0;
    text-align:center;
  }
  h3 {
    padding:1.25em 2em 1em 2em;
    text-align:center;
    color:$ss-hi-vis;
    text-shadow:1px 1px 1px rgba(0,0,0,1);

    background-color:darken($ss-blue, 10%);
  }
  a {
    margin-top:40px;
  }
}

#home-our-athletes {
  padding:60px 20px;
  h2 {margin-bottom:80px;}
  img {margin:0 auto;}
}
