@import 'bs-overrides';
// @import 'base';





.navbar {
  width:100%;
  
}

.navbar-brand {
  img {
    margin-top:-30px;
  }
}

section {
  min-height:350px;
  border-bottom:1px solid rgba(0,0,0,.1);
}

//HOME PAGE

#home-main {
  min-height:480px;
  padding-bottom:80px;
  background-image:url(home-main-IMG_5100.jpg);
  background-size:cover;
  background-position-y:50%;
  margin-top:0px;
  h1 {
    font-size:56px;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,.5);
    padding-top:2em;
    text-align:center;
    margin-bottom:20px;
  }
  h3 {
    padding:1.25em 2em 1em 2em;
    text-align:center;
    color:$ss-hi-vis;
    text-shadow:1px 1px 1px rgba(0,0,0,1);
    background-color:darken($ss-blue, 10%);
  }
  a {
    margin-top:40px;
  }
}

#home-about {

  padding:80px 20px;
  background-image:url(poolart-02-01.png);
  background-size:cover;
  background-position-y:90%;
  background-color:lighten($ss-blue, 20%);
  h1 {
    color:rgba(255,255,255,.7);
    text-transform: uppercase;
  }
  p {
    color:rgba(255,255,255,.9);
    font-size:18px;
  }
}

#home-what-we-do {
  padding:80px 20px;
  background-image:url(weight.jpg);
  background-size:cover;
  min-height:800px;
  background-position-x:-200px;
    h1 {
    padding-top:250px;
    text-align:center;
    color:rgba(255,255,255,.7);
    text-transform: uppercase;
  }
  ul {

    list-style:none;
    padding-left:0;
    text-indent:0;

  }
    li {
      background-color:rgba(0,0,0,.4);
      padding:20px;
      margin-bottom:5px;
      font-size:130%;
      color:#fff;
    }
}

#home-our-athletes {
  padding:60px 20px;
  h2 {margin-bottom:80px;}
  img {margin:0 auto;}
}

#home-the-team {
  padding:80px 20px;
  text-align:center;
  .team {

    h3 {
      margin-top:.75em;
      text-align:center;

    }
    
    img {
      border-radius:50%;
      margin:20px auto;
    }
  }
}

#home-blog {
  padding:80px 20px;
  background-color:lighten($ss-blue, 45%);
}

#home-videos {
  color:lighten($ss-blue, 30%);
  background-color:darken($ss-blue, 25%);
  padding:80px 20px;
  .home-video-sub {
    padding:40px 0px;
    div div {margin-bottom:40px;}
  }
}



