@import 'bs-overrides';
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
  #home-main {
    h1 {font-size:82px;margin-bottom:30px;}
  }
  #home-what-we-do {
    background-position-x:50%;
    background-size:cover;
    h1 {
      padding-top:0px;
      text-align:left;
    }

  }

  #show-header {
    margin-top:-86px;
    padding-top:100px;
  h2 {
    font-size: 32px;
    padding:20px 100px;
    font-weight: 700;
  }
}
}/* END OF SMALL DEVICES ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #home-main {
    h1 {font-size:96px;}
  }

}/* END OF MEDIUM DEVICES ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}