@import 'bs-overrides';
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
  #home-main {
    h1 {font-size:82px;margin-bottom:30px;}
  }

  #home-about {
    p.lead {
      font-size:1.75em;
    }
  }

  #home-what-we-do {
    
    // background-position-x:50%;
    background-size:160%;
    
    h1 {
      padding-top:0px;
      text-align:left;
      font-size:6em;
    }

    .do-boxes {
      height:225px;
    }
  //   .do-boxes {

  //   //width:100%;

  //   h1 {
  //     color:$ss-hi-vis;
  //     font-size:2em;
  //   }
  //   p {
  //     position:absolute;
  //     top:50%;
  //     left:0px;
  //     padding:0 20px 20px 20px;
  //     color:rgba(255,255,255,.5);
  //   }
  // }

  }

  #home-about {
    blockquote {
    padding:20px 50px;
    min-height:15em;
    border-left:none;
    border-top:1px solid rgba(255,255,255,.7);
    color:#fff;
    font-style: italic;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {margin-left:-60px;}
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {margin-right:-60px;}
  }

  #show-header {
    margin-top:-86px;
    padding-top:100px;
  h2 {
    font-size: 32px;
    padding:20px 100px;
    font-weight: 700;
  }
}



}/* END OF SMALL DEVICES ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #home-main {
    h1 {font-size:96px;}
  }

  #swimmers-edge-programs {
    blockquote {
      min-height: 38em;
    }
  }

}/* END OF MEDIUM DEVICES ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #swimmers-edge-programs {
    blockquote {
      min-height: 29em;
    }
  }


}